#current-music__container {
  width: 100%;
}

.music-current-desktop {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #181818;
  color: white;
  right: 0;
  bottom: 0;
  padding: 0.9rem 0.5rem 0.3rem 0.5rem;
}

.hidden-progress {
  display: none;
}

.desktop_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.current-music_details {
  width: 20%;
  display: flex;
  font-size: 1rem;
}
.current-music_details div:nth-child(2) {
  margin-left: 1rem;
}

.title__artist {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-evenly;
}

.current__time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}
.current__time .progress-container {
  width: 70%;
}
.current__time .progress-container .progress {
  background-color: #504f4f;
}

.song_container {
  width: 70%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.button-controls {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.desktop_img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.desktop_img img {
  width: 100%;
  display: block;
}

.btns {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  z-index: 3;
}
.btns .controls {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.btns .controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btns .controls button img {
  width: 1.2rem;
}
@media (max-width: 425px) {
  .btns .controls button img {
    width: 1.5rem;
  }
}

.btn--like,
.btn--add,
#repeat,
#more,
#dropdown,
#shuffle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn--like img,
.btn--add img,
#repeat img,
#more img,
#dropdown img,
#shuffle img {
  width: 1.2rem;
}

.progress-container {
  width: 100%;
  background-color: gray;
}

.progress {
  background-color: white;
}

.progress-container {
  direction: ltr !important;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 0;
  height: 6px;
  width: 100%;
}

.progress {
  background-color: gray;
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: width 0.1s linear;
}

.svgColor {
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg) brightness(106%) contrast(103%);
}

.svgColor-gray {
  filter: invert(41%) sepia(2%) saturate(17%) hue-rotate(31deg) brightness(88%) contrast(95%);
}

@media (max-width: 1200px) {
  .music-current-desktop {
    bottom: 86px;
  }

  .desktop_container .btns {
    width: 80%;
  }
  .desktop_container .song_container {
    width: 60%;
  }
  .desktop_container .current-music_details {
    width: 50%;
  }
  .desktop_container .current-music_details .desktop_img {
    width: 35%;
  }

  .current__time {
    display: flex;
    order: 1;
  }
}
@media (max-width: 900px) {
  .hidden-progress {
    display: block;
  }

  .desktop_container .btns {
    width: 80%;
    margin-right: auto;
    margin-left: 0;
  }
  .desktop_container .controls {
    width: 30%;
  }
  .desktop_container .song_container {
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .desktop_container .button-controls {
    margin-top: 1rem;
  }
  .desktop_container .progress-container:nth-child(2) {
    display: none;
  }
  .desktop_container .hidden-progress {
    width: 100%;
    display: block;
    color: white;
    background-color: white;
  }
  .desktop_container #shuffle,
.desktop_container #repeat,
.desktop_container #next,
.desktop_container #prev,
.desktop_container #curtime,
.desktop_container #durtime {
    display: none;
  }
}
@media (max-width: 900px) {
  .title__artist {
    font-size: 0.8rem;
  }

  .controls button img {
    width: 1.2rem;
  }

  .current__time {
    display: none;
  }
}

/*# sourceMappingURL=currentSong.css.map */
