@font-face {
  font-family: Dirooz;
  src: url("../../assets/fonts/Dirooz.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Dirooz;
  direction: rtl;
}

body {
  background-color: #202020;
}

main {
  width: 80%;
  margin: 7% auto 5rem 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header {
  background-color: #070707;
  width: 83%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem 0.9rem;
  z-index: 10;
  display: grid;
  grid-template-columns: 35% 50% 15%;
  grid-gap: 10px;
  grid-template-areas: "column-1 column-2 column-3";
}
header a {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
header .controlBtn {
  border-radius: 999px;
  background-color: white;
  color: black;
  padding: 0.3rem 0.7rem;
}

.grid-item__header:nth-child(1) {
  grid-area: column-1;
}

.grid-item__header:nth-child(2) {
  grid-area: column-2;
  display: none;
  justify-content: flex-end;
  margin-left: 1rem;
}

.grid-item__header:nth-child(3) {
  grid-area: column-3;
  display: flex;
  align-items: center;
}

.vertical-middle {
  vertical-align: middle;
}

.user-controls__links a {
  display: inline-block;
  max-width: 7rem;
}

.user-controls__links a:hover {
  background-color: #333333;
  color: white;
}

#user-account__link,
#logoutBtn {
  border-radius: 999px;
  background-color: #282828;
  padding: 0.3rem 0.7rem;
}
#user-account__link span,
#logoutBtn span {
  color: white;
}
#user-account__link i,
#logoutBtn i {
  color: gray;
}

#logoutBtn:hover {
  background-color: #333333;
}

.searchBox {
  background-color: white;
  width: 45%;
  border-radius: 999px;
}
.searchBox form {
  display: flex;
  justify-content: space-evenly;
}
.searchBox input {
  width: 80%;
  border: 0;
  outline: 0;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.searchBox #searchBtn {
  width: 10%;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.searchBox #searchBtn i {
  font-size: 1rem;
  color: #444444;
  vertical-align: middle;
}
.searchBox #searchBtn:hover i,
.searchBox #searchBtn:active i {
  transform: scale(1.1);
  color: #7c7c7c;
}

.aside-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 17%;
  height: 100vh;
  background-color: black;
}

#nav-links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 2rem;
}
#nav-links a {
  color: #a8a8a8;
  display: block;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
}
#nav-links a:hover {
  color: white;
}
#nav-links a:focus {
  background-color: #282828;
  color: white;
}
#nav-links i {
  margin-left: 0.8rem;
}
#nav-links #spotify-logo {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
}
#nav-links #spotify-logo i {
  margin: 0;
}

#navigation__links a {
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
#navigation__links a:hover, #navigation__links a:active {
  color: #9e9e9e;
}

.aside-mobile__links {
  display: none;
  z-index: 40;
  background-color: #282828;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
.aside-mobile__links nav {
  width: 100%;
}
.aside-mobile__links ul {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.aside-mobile__links li {
  display: inline-block;
}
.aside-mobile__links a {
  width: 100%;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 0.7rem 0.5rem;
  min-width: 5rem;
}
.aside-mobile__links a:hover,
.aside-mobile__links a:focus {
  background: #444444;
}

.card-playlist {
  background-color: #181818;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8rem 0.4rem;
  border-radius: 8px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.card-playlist a {
  color: #fefefe;
}
.card-playlist img {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}
.card-playlist:hover {
  background-color: #282828;
  cursor: pointer;
}

@media (max-width: 1450px) {
  .aside-box {
    width: 23%;
  }

  header {
    width: 77%;
  }

  main {
    width: 77%;
  }
}
@media (max-width: 1200px) {
  .aside-box {
    display: none;
  }

  .aside-mobile__links {
    display: block;
  }

  header {
    width: 100%;
  }

  main {
    width: 95%;
    margin-top: 8%;
    margin-bottom: 10%;
  }

  .header-left {
    width: 45%;
  }

  .searchBox {
    width: 60%;
  }
}
@media (max-width: 900px) {
  main {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .aside-mobile__links li:nth-child(1) {
    margin-right: 0rem;
  }

  .header-left {
    width: 55%;
  }

  .searchBox {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .aside-mobile__links li:nth-child(1) {
    margin-right: 3rem;
  }
  .aside-mobile__links a {
    font-size: 0.8rem;
  }

  header {
    grid-template-columns: 75% 25%;
    grid-template-areas: " column-1 column-3 " " column-2 column-2 ";
  }

  .grid-item__header:nth-child(2) {
    justify-content: flex-end;
  }

  .grid-item__header:nth-child(3) {
    justify-content: flex-end;
  }

  .searchBox {
    width: 55%;
  }
}
@media (max-width: 600px) {
  .aside-mobile__links li:nth-child(1) {
    margin-right: 8rem;
  }
}
@media (max-width: 500px) {
  main {
    margin-top: 25%;
    margin-bottom: 30%;
  }

  header {
    padding: 1rem 0.6rem 0.5rem 0.6rem;
  }

  .aside-mobile__links li:nth-child(1) {
    margin-right: 10rem;
  }
  .aside-mobile__links a {
    font-size: 0.9rem;
  }

  .searchBox {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .aside-mobile__links li:nth-child(1) {
    margin-right: 15rem;
  }

  .searchBox {
    width: 80%;
  }

  header a {
    font-size: 0.8rem;
  }
}
.box-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#modal-playlist_container {
  max-width: 550px;
  max-height: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -275px;
  margin-left: -275px;
  border-radius: 6px;
  z-index: 110;
  background-color: #282828;
  padding: 1rem;
}
#modal-playlist_container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 0.7rem;
}
#modal-playlist_container .modal-header .close-modal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-playlist_container .modal-header button {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  color: white;
}
#modal-playlist_container .modal-header .close-modal:hover {
  background-color: #444444;
}
#modal-playlist_container .modal-header h1 {
  font-size: 1rem;
}
#modal-playlist_container .modal-playlist {
  width: 100%;
}
#modal-playlist_container .modal-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
#modal-playlist_container .modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-color: #282828;
}
#modal-playlist_container .modal-image img {
  width: 100%;
  border-radius: 10px;
}
#modal-playlist_container .modal-getInfo {
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
#modal-playlist_container .modal-getInfo div {
  margin-bottom: 1rem;
}
#modal-playlist_container .modal-getInfo label {
  font-size: 0.9rem;
}
#modal-playlist_container .modal-getInfo input,
#modal-playlist_container .modal-getInfo textarea {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  resize: none;
}
#modal-playlist_container .modal-getInfo input:focus,
#modal-playlist_container .modal-getInfo textarea:focus {
  outline: 0;
  border: 0;
}
#modal-playlist_container #save-playlist {
  border-radius: 999px;
  padding: 0 24px;
  font-size: 0.9rem;
  background-color: white;
  color: #181818;
}
#modal-playlist_container button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
#modal-playlist_container #save-playlist:hover {
  transform: scale(1.1);
}

section {
  width: 95%;
  margin: auto;
}

.playlists__container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.playlist-title {
  color: white;
}

.filters {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.filters .sorter {
  width: 80%;
  display: flex;
}
.filters .sorter * {
  margin: 5px;
}
.filters .sorter p {
  color: #fff;
}
.filters .sorter button {
  background-color: #282828;
  border: none;
  padding: 5px;
  color: #fff;
  border-radius: 12px;
}
.filters .count {
  color: #fff;
  width: 20%;
  display: flex;
}
.filters .count * {
  margin: 5px;
}

@media (max-width: 800px) {
  .filters {
    flex-direction: column;
  }
  .filters .count,
.filters .sorter {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .playlists__container {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}
@media (max-width: 900px) {
  .playlists__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .playlists__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .playlists__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=Playlist.css.map */
