<!-------------- Header -------------->
<header>
    <div class="grid-item__header">
        <div class="user-controls__links" id="userStatusMenu"></div>
    </div>
    <div class="grid-item__header" id="boxSearchMenu">
        <div class="searchBox">
            <input type="text" placeholder="خواننده ها , آهنگ ها....." />
            <button class="searchBox__button" id="searchBtn">
                <img src="../assets/Icons/search-button.svg" alt="" />
            </button>
        </div>
    </div>
    <div class="grid-item__header">
        <div id="navigation__links">
            <a (click)="fgoForward()" id="goForward">
                <img src="../assets/Icons/next-history-button.svg" alt="">
            </a>
            <a (click)="fgoBack()" id="goBack">
                <img src="../assets/Icons/back-history-button.svg" alt="">
            </a>
        </div>
    </div>
</header>