main {
    width: 82%;
    margin: 7% auto 5rem 0;
}

.playlist-details {
    width: 95%;
    margin: auto;
    border: 8px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    .playlist-details__image {
        margin-left: 1rem;
        width: 25%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border: 10px;
        }
    }
    .playlist-details__content {
        width: 55%;
        font-size: 0.9rem;
    }
}

.playlist-controls {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        color: #909090;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
            color: white;
        }
    }
    margin-bottom: 1rem;
}

#playMusicBtn {
    color: #3bb954;
    background-color: transparent;
    font-size: 2rem;
    img {
        filter: invert(56%) sepia(99%) saturate(317%) hue-rotate(80deg) brightness(89%) contrast(90%);
        width: 2rem;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #909090;
    background-color: inherit;
    margin: 0;
}

.svg-button {
    width: 1.5rem;
    filter: invert(59%) sepia(2%) saturate(10%) hue-rotate(338deg) brightness(97%) contrast(85%);
}

.svg-button:hover {
    filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg) brightness(106%) contrast(103%);
}

.dropdown-content {
    display: none;
    border-radius: 6px;
    position: absolute;
    background-color: #282828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    z-index: 1;
}

.dropdown-content button,
.dropdown-content a {
    color: white;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    display: block;
    text-align: right;
    border-radius: 6px;
    font-size: 0.8rem;
    width: 100%;
    &:hover {
        background-color: #333333;
    }
}

.dropdown-content a:hover {
    background-color: transparent;
}

.show {
    display: block;
}

table {
    width: 95%;
    color: rgb(192, 192, 192);
    text-align: center;
    font-size: 1rem;
    th {
        font-size: 1.2rem;
    }
    td,
    th {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    tr {
        padding: 0.2rem 0.4rem;
        width: 100%;
        display: block;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: 5% 40% 35% 15% 5%;
    }
    tbody tr:hover {
        background-color: rgba($color: #525252, $alpha: 0.5);
        color: white;
        .remove-column {
            display: flex;
        }
    }
    .remove-column {
        display: none;
        cursor: pointer;
    }
}