<body>
    <header>
        <a routerLink="/">Spotify
            <img src="../assets/Icons/spotify-button.svg" alt="">
        </a>
    </header>
    <main>
        <div class="container">
            <h3 id="container__header">ثبت نام با آدرس ایمیل</h3>
            <form action="" id="registerForm">
                <div class="register-control">
                    <label for="register-email">ایمیل و نامت رو وارد کن</label>
                    <input [(ngModel)]="registerEmail" name="email" id="register-email" type="email" placeholder="ایمیل" required spellcheck="false" />
                </div>
                <div class="register-control" style="display:block">
                    <input [(ngModel)]="registerFirstName" type="text" class="register-name" name="firstName" placeholder="نام" required />
                    <input [(ngModel)]="registerLastName" type="text" class="register-name" name="lastName" placeholder="نام خانوادگی" required />
                </div>
                <div class="register-control">
                    <label for="register-password">کلمه عبور بساز</label>
                    <!-- <input name="password" id="register-password" type="password" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" /> -->
                    <input [(ngModel)]="registerPassword" name="password" id="register-password" type="password" required />
                    <p id="password-description">
                        کلمه عبور باید شامل <u> حداقل </u> یک عدد و<b> یک حرف بزرگ و کوچک </b> و <u> حداقل </u>به تعداد
                        <b>۸ کاراکتر یا بیشتر </b> باشد.
                    </p>
                </div>
                <div class="register-control">
                    <label for="register-username">نام کاربری </label>
                    <input [(ngModel)]="registerUsername" name="username" id="register-username" type="text" placeholder="یک نام کاربری وارد کن" required />
                    <small>این نام کاربری روی پروفایلت نمایش داده میشه</small>
                </div>
                <input (click)="onRegisterBtn()" type="submit" value="ثبت نام" id="registerBtn" />
            </form>
            <h5 id="signIn-header">
                قبلا حساب کاربری درست کردی؟
                <a routerLink="/login" id="signInBtn">وارد شو</a>
            </h5>
        </div>
        <div class="img-background">
            <img src="../assets/images/register-photo.jpg" alt="">
        </div>
    </main>
    <div id="snackbar"></div>
</body>