header {
    background-color: #333333;
}

main {
    width: 85%;
    margin-top: 0;
    background-color: #1D1D1D;
}

.user-controls__links a:hover {
    background-color: black;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile_container {
    background-color: #333333;
    height: 30vh;
    max-height: 500px;
    min-height: 440px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.profile {
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    color: white;
    #profile-name {
        display: block;
        min-width: 600px;
        overflow: auto;
        font-size: 4rem;
        text-align: left;
    }
    .profile-info {
        display: flex;
        align-items: flex-end;
        flex-flow: column;
        justify-content: flex-end;
        margin-left: 3rem;
    }
    .profile-photo_container {
        height: 232px;
        min-width: 232px;
        width: 232px;
        background-color: #282828;
        box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
        border-radius: 50%;
        background-image: url('../../assets/Icons/user-profile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include flex-center();
        label,
        input {
            display: none;
        }
        &:hover {
            label {
                display: flex;
                flex-flow: column;
                align-items: center;
                cursor: pointer;
            }
        }
        .profile-photo img {
            width: 2rem;
            filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg) brightness(106%) contrast(103%);
        }
    }
}

.playlists__container {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    .music-link {
        width: 90%;
        margin: auto;
    }
    .music-link__image {
        background-color: #333333;
        border-radius: 6px;
        margin-bottom: 0.5rem;
        .playlist-cover {
            padding: 0.3rem;
        }
        img {
            width: 80%;
            display: block;
            margin: auto;
            margin: auto;
            filter: invert(75%) sepia(27%) saturate(20%) hue-rotate(45deg) brightness(95%) contrast(82%);
        }
    }
}

.modal-image {
    span:hover,
    label:hover {
        text-decoration: underline;
    }
}

#modal-close {
    display: none;
}

@media (max-width:1200px) {
    .playlists__container {
        margin: auto;
    }
}