@font-face {
    font-family: Dirooz;
    src: url('../../fonts/Dirooz.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Dirooz;
    direction: rtl;
}

$paragraph-color:rgb(73,
194,
73);
html,
body {
    font-family: 'Cabin', sans-serif;
    // background-color: #5c5c5c;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(180deg, rgba(50, 145, 64, 1) 0%, rgba(84, 219, 119, 1) 38%, rgba(63, 201, 186, 1) 69%, rgba(82, 154, 132, 1) 100%);
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
        color: black;
        font-size: 1.5rem;
        padding: 0.9rem;
    }
}

.container {
    width: 95%;
    padding: 1rem;
    height: 60%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px #eee;
}

#container__header {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#password-description {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: #1F3B4D;
}

.register-control {
    font-size: 0.8rem;
    display: flex;
    flex-flow: column;
    margin-bottom: 1.3rem;
    justify-content: space-between;
    input {
        margin-top: 0.4rem;
        outline: 0;
        padding: 0.3rem;
        border: 0;
        font-size: 0.8rem;
    }
    small {
        margin-top: 0.3rem;
    }
}

#signUp-birth {
    width: 100%;
    p {
        font-size: 0.9rem;
    }
    select,
    div,
    input {
        width: 100%;
    }
    label {
        margin: 0.3rem auto;
        text-align: center;
        display: block;
    }
    input {
        margin: 0;
    }
    div {
        margin-bottom: 0.4rem;
    }
    select {
        padding: 0.3rem;
        font-size: 0.7rem;
        outline: 0;
    }
}

.signUp-gender__items {
    margin-top: 0.3rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    div {
        margin-right: 1rem;
    }
}

#signInBtn {
    font-size: 0.9rem;
    color: rgb(2, 98, 2);
    &:hover {
        text-decoration: underline;
    }
}

#registerBtn {
    display: block;
    font-weight: bold;
    margin: auto;
    border: 0;
    border-radius: 999px;
    background-color: rgb(6, 70, 11);
    color: white;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 0.7rem;
    &:active {
        transform: scale(1.1);
    }
    &:hover {
        background-color: #1DB954;
        color: black;
    }
}

#signIn-header {
    margin-top: 1rem;
}

@media (min-width:480px) {
    .container {
        width: 80%;
    }
    #signUp-birth {
        flex-flow: row;
        justify-content: space-between;
        div {
            width: 30%;
        }
    }
}

@media (min-width:600px) {
    .container {
        width: 60%;
    }
}

@media (min-width:768px) {
    .container {
        width: 50%;
    }
    .register-control {
        input,
        label {
            font-size: 0.8rem;
        }
    }
}

@media (min-width:900px) {
    .container {
        width: 40%;
    }
}

@media (min-width:1200px) {
    main {
        width: 50%;
        margin: auto
    }
    .container {
        width: 60%;
    }
}