@use './header.scss';
body {
    background-color: #0F1317;
}

.playlist-table {
    width: 100%;
}

.playlist-details {
    width: 95%;
    margin: auto;
    border: 8px;
    background-color: rgb(255, 255, 207);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    .playlist-details__image {
        margin-left: 1rem;
        width: 25%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border: 10px;
        }
    }
    .playlist-details__content {
        width: 55%;
        font-size: 0.9rem;
    }
}

.playlist-controls {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        color: #909090;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
            color: white;
        }
    }
    margin-bottom: 1rem;
}

#playMusicBtn {
    color: #3BB954;
    font-size: 2rem;
    &:hover {
        transform: scale(1.1);
    }
}

table {
    width: 95%;
    color: rgb(192, 192, 192);
    text-align: center;
    font-size: 0.8rem;
    th {
        font-size: 1rem;
    }
    td,
    th {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    tr {
        padding: 0.2rem 0.4rem;
        width: 100%;
        display: block;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: 5% 50% 35% 5% 5%;
    }
    tbody tr:hover {
        background-color: rgba($color: #525252, $alpha: 0.5);
        color: white;
    }
}

.details_sign_button {
    cursor: pointer;
}

.likeBtn,
.like_sign_button {
    color: #3BB954;
    cursor: pointer;
    font-weight: bold;
}

.like_sign_button {
    display: none;
}

.hide {
    display: none !important;
}

.songsList-details {
    display: none;
}

.song-details__container {
    width: 100%;
    margin: auto;
}

.song-details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    img {
        width: 100%;
        display: block;
    }
    div:nth-child(1) {
        width: 10%;
        margin-left: 0.5rem;
    }
    div:nth-child(2) {
        display: flex;
        justify-content: space-evenly;
        flex-flow: column;
        align-items: center;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .cards__container {
        grid-template-columns: repeat(4, 1fr);
    }
    .playlist-controls {
        width: 25%;
        justify-content: space-between;
    }
    .current-music {
        display: block;
        bottom: 85px;
    }
}

@media (max-width: 900px) {
    .cards__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .playlist-details {
        .playlist-details__image {
            width: 30%;
        }
        .playlist-details__content {
            width: 60%;
            font-size: 0.9rem;
        }
    }
    main {
        margin-bottom: 8rem;
    }
}

@media (max-width: 768px) {
    .cards__container {
        grid-template-columns: repeat(2, 1fr);
    }
    table {
        width: 100%;
    }
    thead {
        display: none;
    }
    table tr {
        grid-template-columns: 80% 10% 10%;
    }
    .hide-column {
        display: none;
    }
    .songsList-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .song-details {
        div:nth-child(1) {
            width: 20%;
        }
    }
    .playlist-details {
        flex-flow: column;
        padding: 0.8rem 0.2rem;
        .playlist-details__image {
            width: 55%;
            margin: auto;
        }
        .playlist-details__content {
            width: 90%;
            font-size: 0.8rem;
            text-align: center;
        }
    }
    .playlist-controls {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .cards__container {
        grid-template-columns: repeat(1, 1fr);
    }
    .playlist-controls {
        width: 50%;
        padding: 0.5rem;
        a {
            font-size: 1.2rem;
        }
    }
    #playMusicBtn {
        font-size: 2.2rem;
    }
    .songsListDetails {
        display: none;
    }
}