.song-modal__container {
    display: none;
    .song-modal {
        width: 100%;
        position: fixed;
        top: 20%;
        right: 0;
        margin: auto;
    }
    #songModal-close {
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 2rem;
        cursor: pointer;
        font-weight: bold;
    }
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    .song-modal__content {
        margin: auto;
    }
    .song-modal_image {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-bottom: 2.5rem;
        img {
            width: 100%;
        }
    }
    .song-modal_links {
        font-size: 0.9rem;
        width: 90%;
        margin: auto;
        div {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;
            padding: 0.2rem 0.8rem;
            color: rgb(209, 209, 209);
            button {
                background-color: transparent;
                border: 0;
                margin-left: 0.5rem;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
    i {
        color: gray;
    }
}