<main>
    <div *ngFor="let playlist of namePlaylists ; index as i">
        <section class="playlists__container">
            <div class="playlists__title">
                <h3><a [routerLink]="['/all-songs', playlist.key]"> {{playlist.label}} </a></h3>
                <a [routerLink]="['/all-songs', playlist.key]">مشاهده همه</a>
            </div>
            <div class="cards__container">
                <div *ngFor="let song of songs.slice((i*random),(i*random)+6)">
                    <app-card [song]="song"></app-card>
                </div>
            </div>
        </section>
    </div>
</main>