main {
  width: 80%;
  margin: 7% auto 5rem 0;
  .playlists__container {
    width: 95%;
    margin-bottom: 1.4rem;
    padding: 0 0.5rem;
    .playlists__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      a {
        color: #ffffff;
        display: flex;
        align-items: center;
      }
      a:hover {
        transform: scale(1.1);
      }
    }
  }
  .playlists__title h3:hover {
    text-decoration: underline;
  }
}
.cards__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0.5rem;
}
@media (max-width: 1450px) {
  .cards__container {
    grid-template-columns: repeat(6, 1fr);
    div:nth-child(n + 7) {
      display: none;
    }
  }
  .playlists__container {
    width: 100%;
    
  }
}

@media (max-width: 1200px) {
  main {
    width: 95%;
    margin-top: 11%;
    margin-bottom: 10%;
  }
  .cards__container {
    grid-template-columns: repeat(4, 1fr);
    div:nth-child(n + 5) {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  main {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    div:nth-child(n + 4) {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .cards__container {
    grid-template-columns: repeat(1, 1fr);

    div:nth-child(n + 2) {
      display: none;
    }
  }
  .card-playlist {
    padding: 0 0 0 0.4rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .music-link__image {
      width: 40%;
      img {
        display: flex;
        width: 70%;
        margin-bottom: auto;
      }
    }
  }
  main {
    margin: auto;
    margin-top: 28%;
    margin-bottom: 30%;
  }
  .playlists__container {
    .playlists__title a {
      font-size: 0.8rem;
    }
  }
}
