main {
  width: 80%;
  margin: 7% auto 5rem 0;
  .playlists__container {
    width: 95%;
    margin-bottom: 1.4rem;
    padding: 0 0.5rem;
    .playlists__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      a {
        color: #ffffff;
        display: flex;
        align-items: center;
      }
      a:hover {
        transform: scale(1.1);
      }
    }
  }
  .playlists__title h3:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1450px) {
  .playlists__container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  main {
    width: 95%;
    margin-top: 11%;
    margin-bottom: 10%;
  }
}

@media (max-width: 900px) {
  main {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media (max-width: 500px) {
  main {
    margin: auto;
    margin-top: 28%;
    margin-bottom: 30%;
  }
  .playlists__container {
    .playlists__title a {
      font-size: 0.8rem;
    }
  }
}
