<div class="card-playlist">
    <div class="music-link" (click)="onMusicLink()">
        <div class="music-link__image">
            <img [src]="playlist?.cover || default_img" alt="cover" />
        </div>
        <div class="card-playlist-info_container">
            <div class="card-playlist-info">
                <h3 class="card-playlist__title">{{ playlist?.name }}</h3>
                <h5>{{playlist.artist|| default_artist }}</h5>
            </div>
            <button appClickStopPropagation id="detail-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="mat-icon-detail" >more_vert</mat-icon>
              </button>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDeleteBtn()">
            <span>حذف پلی لیست</span>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-menu-item>
            <span>افزودن اهنگ</span>
          <mat-icon>add_circle</mat-icon>
        </button>
    </mat-menu>
</div>