.card-playlist {
  position: relative;
  min-height: 250px;
  padding: 1rem;
  background-color: #181818;
  .music-link {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  a {
    color: #fefefe;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  // overflow: hidden;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8rem 0.4rem;
  border-radius: 8px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  .music-link__image {
    min-height: 150px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    img {
      width: 50%;
      filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg)
        brightness(106%) contrast(103%);
      border-radius: 8px;
    }
  }
  &:hover {
    background-color: #282828;
    cursor: pointer;
  }
}

.card-playlist-info_container {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.dropdown_container {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 8px;
  width: 30%;
}

.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  img {
    display: block;
    width: 100%;
    filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg)
      brightness(106%) contrast(103%);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.dropdown-content {
  display: none;
  border-radius: 6px;
  position: absolute;
  background-color: #282828;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  z-index: 1;
  top: 45px;
}

.dropdown-content button,
.dropdown-content a {
  color: white;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  display: block;
  text-align: right;
  border-radius: 6px;
  font-size: 0.8rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: #333333;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .card-playlist {
    padding: 0 0 0 0.4rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .music-link__image {
      min-height: 100px;
      img {
        display: block;
        width: 30%;
        margin-bottom: auto;
      }
    }
  }
  .edit-card-button {
    img {
      width: 50%;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

@media (max-width: 600px) {
  .card-playlist {
    min-height: 120px;
    padding: 0 0 0 0.4rem;
    a {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      justify-content: flex-start;
    }
    .music-link__image {
      width: 30%;
      margin-bottom: 0;
      img {
        display: flex;
        width: 50%;
        margin: auto;
      }
    }
  }
}
