<aside id="aside-mobile">
    <nav class="aside-mobile__links">
        <a href="../index.html">
            <img src="../assets/Icons/home-button.svg" alt="">
            <span>خانه </span>
        </a>
        <a href="#" class="btnSearchMenu">
            <img src="../assets/Icons/search-button.svg" alt="">
            <span>جست و جو</span>
        </a>
        <a class="libraryMenu">
            <img src="../assets/Icons/library-button.svg" alt="">
            <span>کتابخانه</span>
        </a>
        <a class="createListMenu">
            <img class="" src="../assets/Icons/music-playlist-button.svg" alt="">
            <span>ساخت لیست اهنگ</span>
        </a>
        <a class="archived-menu">
            <img src="../assets/Icons/like.svg" alt="">
            <span>موردعلاقه ها</span>
        </a>
    </nav>
</aside>