<aside id="aside-mobile">
    <nav class="aside-mobile__links">
        <a routerLink="/home" routerLinkActive="active">
            <img src="../assets/Icons/home-button.svg" alt="">
            <span>خانه </span>
        </a>
        <a routerLink="/all-songs" routerLinkActive="active" class="btnSearchMenu">
            <img src="../assets/Icons/search-button.svg" alt="">
            <span>جست و جو</span>
        </a>
        <a routerLink="/library" routerLinkActive="active" class="libraryMenu">
            <img src="../assets/Icons/library-button.svg" alt="">
            <span>کتابخانه</span>
        </a>
        <a (click)="openModalCreatePlalist()" class="createListMenu">
            <img class="" src="../assets/Icons/music-playlist-button.svg" alt="">
            <span>ساخت لیست اهنگ</span>
        </a>
        <a routerLink="/favorites" class="archived-menu" routerLinkActive="active">
            <img src="../assets/Icons/like.svg" alt="">
            <span>موردعلاقه ها</span>
        </a>
    </nav>
</aside>