<main>
    <img src={{_player.currentSong?.cover}} class="background" />
    <div class="backgroundLayer"></div>
    <div class="music__container">
        <div class="music__content">
            <div class="playlist__container">
                <button id="dropdown">
                    <a routerLink="/home"> <img src="../assets/Icons/home_black_24dp.svg" alt="" class="replay"></a>
                </button>
                <h5>شنیدن {{_player.name}}</h5>
                <button id="more" (click)="fgoBack()">
                    <img src="../assets/Icons/expand_more_white_24dp.svg" alt="" class="replay">
                </button>
            </div>
            <div class="img--music">
                <div id="music-lyrics_container">
                    <button (click)="toggleShowLyrics()" id="back-lyrics-button">
                        <img src="../assets/Icons/back-arrow-button.svg" alt="">
                    </button>
                    <div id="music-lyrics"></div>
                </div>
                <button id="song-lyrics-button" (click)="toggleShowLyrics()">متن اهنگ</button>
                <img src={{_player.currentSong?.cover}} alt="" class="music__img" id="cover" />
            </div>
            <div class="info__music">
                <button class="btn--add" (click)="openModalAddPlalist()">
                    <img src="../assets/Icons/add_circle_outline_black_24dp.svg" alt=""></button>
                <div class="title__artist">
                    <h2 class="music__name" *ngIf="isNameWidthLong(); else scrollName">{{_player.currentSong?.name}}
                    </h2>
                    <ng-template #scrollName>
                        <marquee class="music__name" id="title" behavior="scroll" direction="right" scrollamount="3">
                            {{_player.currentSong?.name}}
                        </marquee>
                    </ng-template>
                    <h4 class="singer" id="artist">{{_player.currentSong?.artist}}</h4>
                </div>
                <button class="btn--like" (click)="this._player.addToFavs()">
                    <img src="../assets/Icons/like-button-empty.svg" alt=""></button>
            </div>
            <div class="current__time">
                <span id="durtime">{{_player.getTimeDuration()}}</span>
                <div class="progress-container" id="progress-container">
                    <div class="progress" id="progress" [ngStyle]="{width : _player.getProgress()}"></div>
                </div>
                <span id="curtime">{{_player.getCurrentTime()}}</span>
            </div>

            <div class="btns">
                <button id="repeat" (click)="replaySong()">
                    <img src={{linkPhotoReplay}} alt="" class="replay">
                </button>
                <div class="controls">
                    <button id="next" (click)="nextSong()">
                        <img src="../assets/Icons/next-button.svg" alt="" class="controls-button">
                    </button>
                    <button id="playpause" (click)="playSong()">
                        <img src={{linkPhotoPlay}} alt="" class="controls-button">
                    </button>
                    <button id="prev" (click)="prevSong()">
                        <img src="../assets/Icons/back-button.svg" alt="" class="controls-button">
                    </button>
                </div>
                <button id="shuffle" (click)="shuffleSongs()">
                    <img src={{linkPhotoShuffle}} alt="" class="replay">
                </button>
            </div>
        </div>
    </div>
</main>