#current-music__container {
    width: 100%;
}

.music-current-desktop {
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: #181818;
    color: white;
    right: 0;
    bottom: 0;
    padding: 0.9rem 0.5rem 0.3rem 0.5rem;
    z-index: 105;
}

.hidden-progress {
    display: none;
}

.desktop_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.current-music_details {
    width: 20%;
    display: flex;
    font-size: 1rem;
    div:nth-child(2) {
        margin-left: 1rem;
    }
}

.title__artist {
    margin-right: 12px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
}

.current__time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    .progress-container {
        width: 70%;
    }
}

.song_container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.button-controls {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.desktop_img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    img {
        width: 100%;
        display: block;
    }
}

.btns {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    z-index: 3;
    .controls {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            img {
                width: 1.2rem;
                @media (max-width: 425px) {
                    width: 1.5rem;
                }
            }
        }
    }
}

.btn--like,
.btn--add,
#repeat,
#more,
#dropdown,
#shuffle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    img {
        width: 1.2rem;
    }
}

.progress-container {
    width: 100%;
    background-color: gray;
}

.progress {
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.progress-container {
    direction: ltr !important;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
    height: 6px;
    width: 100%;
}

.svgColor {
    filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(307deg) brightness(106%) contrast(103%);
}

.svgColor-gray {
    filter: invert(41%) sepia(2%) saturate(17%) hue-rotate(31deg) brightness(88%) contrast(95%);
}

@media (max-width: 1200px) {
    .music-current-desktop {
        bottom: 85px;
    }
    .desktop_container {
        .btns {
            width: 90%;
        }
        .song_container {
            width: 60%;
        }
        .progress-container {
            width: 80%;
        }
        .current-music_details {
            width: 30%;
        }
        .current-music_details .desktop_img {
            width: 35%;
        }
    }
    .current__time {
        display: flex;
        order: 1;
    }
}

@media (max-width: 900px) {
    .hidden-progress {
        display: block;
    }
    .desktop_container {
        .btns {
            width: 80%;
            margin-right: auto;
            margin-left: 0;
        }
        .controls {
            width: 30%;
        }
        .current-music_details {
            width: 60%;
        }
        .song_container {
            width: 40%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        .button-controls {
            margin-top: 1rem;
        }
        .progress-container:nth-child(2) {
            display: none;
        }
        .hidden-progress {
            width: 100%;
            display: block;
            color: white;
            background-color: white;
        }
        #shuffle,
        #repeat,
        #next,
        #prev,
        #curtime,
        #durtime {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .title__artist {
        font-size: 0.8rem;
    }
    .controls button img {
        width: 1.2rem;
    }
    .current__time {
        display: none;
    }
}