<section id="current-music__container">
    <div class="music-current-desktop">
        <div class="desktop_container">
            <div class="current-music_details">
                <div class="desktop_img">
                    <a [routerLink]="['/song', _player.currentSong?.id]"><img src={{_player.currentSong.cover}} alt="" class="music__img " id="cover" /></a>
                </div>
                <div class="title__artist">
                    <h5 class="music__name" id="title" *ngIf="isNameWidthLong(); else scrollName">{{_player.currentSong.name}}</h5>
                    <ng-template #scrollName>
                        <marquee class="music__name" id="title" behavior="scroll" direction="right" scrollamount="3">
                            {{_player.currentSong.name}}
                        </marquee>
                    </ng-template>
                    <h5 class="singer" id="artist">{{_player.currentSong.artist}}</h5>
                </div>
            </div>
            <div class="song_container music__container">
                <div class="button-controls">
                    <div class="btns">
                        <button id="repeat" class="svgColor" (click)="replaySong()">
                            <img src={{linkPhotoReplay}} alt="" class="replay">
                        </button>
                        <button class="btn--like" (click)="addToFavorites()">
                            <img src="../assets/Icons/like-button-empty.svg" alt="" class="svgColor" />
                        </button>
                        <div class="controls">
                            <button id="next" class="svgColor" (click)="nextSong()">
                                <img src="../assets/Icons/next-button.svg" alt="" class="controls-button">
                            </button>
                            <button id="playpause" class="svgColor" (click)="playSong()">
                                <img src={{linkPhotoPlay}} alt="" class="controls-button">
                            </button>
                            <button id="prev" class="svgColor" (click)="prevSong()">
                                <img src="../assets/Icons/back-button.svg" alt="" class="controls-button">
                            </button>
                        </div>
                        <button class="btn--add" (click)="openModalAddPlalist()"><img
                                src="../assets/Icons/add_circle_white_24dp.svg" alt=""></button>
                        <div id="select-playlists"></div>
                        <button id="shuffle" class="svgColor" (click)="shuffleSongs()">
                            <img src={{linkPhotoShuffle}} alt="" class="replay">
                        </button>
                    </div>

                </div>
                <div class="current__time">
                    <span id="durtime"></span>
                    <div class="progress-container" id="progress-container">
                        <div class="progress" id="progress"></div>
                    </div>
                    <span id="curtime"></span>
                </div>
            </div>
        </div>
    </div>
</section>