<!-----------------play current music  ----------------->
<section id="current-music__container">
    <div class="music-current-desktop">
        <div class="hidden-progress">
            <div class="progress-container" id="progress-container">
                <div class="progress" id="progress"></div>
            </div>
        </div>
        <div class="desktop_container">
            <div class="current-music_details">
                <audio src="" id="audio"></audio>
                <div class="desktop_img">
                    <a href="./song.html" id="linkReturn"><img src="../assets/Icons/musical-note.svg" alt="" class="music__img " id="cover" /></a>
                </div>
                <div class="title__artist">
                    <h5 class="music__name" id="title">اسم آهنگ</h5>
                    <h5 class="singer" id="artist">نام خواننده</h5>
                </div>
            </div>
            <div class="song_container music__container">
                <div class="button-controls">
                    <div class="btns">
                        <button id="repeat" class="svgColor">
                            <img src="../assets/Icons/loop-button.svg" alt="" class="replay">
                        </button>
                        <button class="btn--like">
                            <img src="../assets/Icons/like-button-empty.svg" alt="" class="svgColor" />
                        </button>
                        <div class="controls">
                            <button id="next" class="svgColor">
                                <img src="../assets/Icons/next-button.svg" alt="" class="controls-button">
                            </button>
                            <button id="playpause" class="svgColor">
                                <img src="../assets/Icons/play-button.svg" alt="" class="controls-button">
                            </button>
                            <button id="prev" class="svgColor">
                                <img src="../assets/Icons/back-button.svg" alt="" class="controls-button">
                            </button>
                        </div>
                        <button class="btn--add"><img src="../assets/Icons/add_circle_white_24dp.svg"
                                alt=""></button>
                        <div id="select-playlists"></div>
                        <button id="shuffle" class="svgColor">
                            <img src="../assets/Icons/shuffle-disabled-button.svg" alt="" class="replay">
                        </button>
                    </div>

                </div>
                <div class="current__time">
                    <span id="durtime"></span>
                    <div class="progress-container" id="progress-container">
                        <div class="progress" id="progress"></div>
                    </div>
                    <span id="curtime"></span>
                </div>
            </div>
        </div>
    </div>
</section>