/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Dirooz;
    src: url("/assets/fonts/Dirooz.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Dirooz;
    direction: rtl;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin ul-setup {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@mixin flex-space-evenly {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background-color: #202020;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
    background-color: #fff !important;
    color: #000 !important;
}

.mat-dialog-container {
    background-color: #282828 !important;
    padding: 1rem !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #3BB954 !important;
}

.cdk-overlay-connected-position-bounding-box {
    align-items: flex-end !important;
}

button.mat-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backdropClass {
    background-color: rgba($color: #000000, $alpha: 0.2) !important;
}