.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .close-modal {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        cursor: pointer;
        font-size: 2rem;
        background-color: transparent;
        color: white;
    }
    .close-modal:hover {
        background-color: #444444;
    }
    h1 {
        font-size: 1rem;
    }
    margin-bottom: 0.7rem;
}

.modal-getInfo {
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    div {
        margin-bottom: 1rem;
    }
    label {
        font-size: 0.9rem;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        outline: 0;
        border: 0;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;
        resize: none;
    }
    input:focus,
    textarea:focus {
        outline: 0;
        border: 0;
    }
}

.modal-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 0;
}

.modal-image {
    width: 200px;
    border-radius: 50%;
    background-image: url(../../../../assets/images/song.jpg);
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.save-modal-button {
    border-radius: 999px;
    padding: 0 24px;
    font-size: 0.9rem;
    background-color: white;
    color: #181818;
    &:hover {
        transform: scale(1.1);
    }
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal-image {
        display: none;
    }
    .modal-getInfo {
        width: 80%;
    }
    .mat-dialog-actions {
        justify-content: center;
    }
}